<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Feagin_Asg8_Defaults.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Feagin_Asg8_Defaults.Properties.Settings>
            <setting name="DefaultCity" serializeAs="String">
                <value>The City</value>
            </setting>
            <setting name="DefaultState" serializeAs="String">
                <value>The State</value>
            </setting>
            <setting name="DefaultZip" serializeAs="String">
                <value>The Zip</value>
            </setting>
            <setting name="DefaultAPIKey" serializeAs="String">
                <value>The API Key</value>
            </setting>
        </Feagin_Asg8_Defaults.Properties.Settings>
    </userSettings>
</configuration>